@import url("./fonts.css");
@import url("./colors.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

button {
  display: block;
  border: none;
  outline: none;
  color: var(--black);
}

body {
  font-size: 16px;
}